{% extends "_layouts.html" %}
{% load django_bootstrap5 %}

{% block head_title %}
  Excluir Meta
{% endblock head_title %}

{% block content %}
  <div class="container mt-4">
    <h2>Excluir Meta</h2>
    <p>Tem certeza que deseja excluir a meta <strong>{{ meta.descricao }}</strong>?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Sim, excluir</button>
      <a href="{% url 'metas_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}
