{% extends "_layouts.html" %}
{% load django_bootstrap5 %}

{% block head_title %}
  Excluir Transação
{% endblock head_title %}

{% block content %}
  <div class="container mt-4">
    <h2>Excluir Transação</h2>
    <p>Tem certeza que deseja excluir a transação <strong>{{ transacao.descricao }}</strong>?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Sim, excluir</button>
      <a href="{% url 'transacoes_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}
